</div>
<footer class="bg-dark text-white text-center py-3">
  <div class="container">
    <p>&copy; 2025 <a href="https://github.com/Fauzanmhr/zannime" class="text-white">ZANNIME</a> | Developed by <a href="https://github.com/Fauzanmhr" class="text-white">Fauzanmhr</a> | Powered by <a href="https://github.com/wajik45/wajik-anime-api" class="text-white">Wajik Anime API</a> | <button id="theme-toggle" style="background: none; border: none; color: inherit; cursor: pointer; padding: 0;">Dark Mode</button></p>
  </div>
</footer>
