<%- include('partials/header', { title: 'Genres - ZANNIME' }) %>
<div class="container">
  <h1 class="mt-4">Genres</h1>
  <ul class="list-group">
    <% genres.forEach(genre => { %>
      <li class="list-group-item">
        <a href="/genres/<%= genre.slug %>"><%= genre.judul %></a>
      </li>
    <% }) %>
  </ul>
</div>
<br>
<%- include('partials/footer') %>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>